{{ form_start(form) }}
<div class="col-lg-6 offset-lg-3">
    <h2 class="mt-3 ">
        Ajoutez un commentaire:
    </h2>
    <div class="row">
        <div class="mt-3">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment)}}
        </div>
    </div>
    <div class="row">
        <div class="mt-3 mb-2">
            {{ form_label(form.rate) }}
            {{ form_widget(form.rate)}}
            {{ form_help(form.rate) }}
        </div>
    </div>
    <button class="btn btn-primary col-12 mt-2 mb-2">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
