{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{program.title}}</h1>
    <img class="align-self-start mr-3 poster" src="{{program.poster}}" alt="{{ program.title }} poster">
    <h2>Saison {{ season.number }} ({{ season.year }})</h2>
    <p>{{   season.description }}</p>
{% endblock %}