<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img class="logo" src="{{asset('build/logo.png')}}" alt="wild">
        <a class="navbar-brand" href="/"><img src="{{asset('build/wild-title.png')}}" alt="wild"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse links-navbar" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {{ render(controller('App\\Controller\\CategoryController::dropdown')) }}
                <a class="nav-link active" aria-current="page" href="#"><img src="{{ asset('build/etoile.svg') }}" alt="star" class="svg-navbar">Mes Favoris</a>
                <a class="nav-link" href="#">FR<img src="{{ asset('build/world.svg') }}" alt="star" class="svg-navbar ms-2"></a>
                {% if app.user %}
                    <div class="text-dark p-2 ps-0 p-lg-2 me-1">
                        {{- app.user.email -}}
                    </div>
                    <a class="nav-link" href="{{ path('profile') }}">
                        Mon compte</a>
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        Se déconnecter</a>
                {% else %}
                    <a class="nav-link" href="{{ path('register') }}">
                        S'inscrire</a>
                    <a class="nav-link" href="{{ path('app_login') }}">
                        Se connecter</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
